.errorMessageLinkContent {
  font-weight: 500;
  margin-top: 7rem;
  font-size: 18px;
  line-height: 150%;
  > a {
    color: $primary;
    text-decoration: underline;
  }

  @include mobile {
    margin-top: 3rem;
  }

  @include tablet {
    margin-top: 4rem;
  }
}

.errorMessageWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;

  @include mobile {
    margin-top: 5rem;
  }

  @include tablet {
    margin-top: 6rem;
  }
}

.errorMessageMainContent {
  font-size: 250px;
  font-weight: 700;
  margin: 10rem 0 3rem 0;
  line-height: 1;

  @include mobile {
    font-size: 150px;
    margin: 6rem 0 1rem 0;
  }

  @include tablet {
    font-size: 200px;
    margin: 8rem 0 2rem 0;
  }
}

.errorMessageSubContent {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 7rem;
  line-height: 1.5;

  @include mobile {
    font-size: 24px;
    margin-bottom: 5rem;
  }

  @include tablet {
    font-size: 28px;
    margin-bottom: 6rem;
  }
}
