$primary: #FF6060;
$color_2: white;
$color_3: gray;
$font-family_1: "Montserrat", sans-serif;
$font-family_2: sans-serif;
$background-primary: #ff6060;
$background-color_3: #f7f7f7;
$background-color_4: black;
