$primary: #ff6060;
$secondary: rgb(255, 255, 255);
$tertiary: rgb(120, 120, 120);
$font-family_1: "Montserrat", sans-serif;
$font-family_2: sans-serif;
$background-primary: #ff6060;
$background-secondary: rgb(15, 15, 15);
$background-tertiary: #f7f7f7;
