.carousel-container {
  position: relative;
  width: 100%;
  height: 415px;
  margin-bottom: 30px;
  @include mobile {
    height: 245px;
  }
}
.carousel-images {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 415px;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    border-radius: 25px;
    @include mobile {
      height: 245px;
    }
  }
  img.active {
    opacity: 1;
  }
}
.buttonCarousel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  padding: 1rem;
  border: none;
  cursor: pointer;
  color: $secondary;
  &:focus {
    outline: none;
  }
}
.buttonCarousel.previous {
  left: 0;
}
.buttonCarousel.next {
  right: 0;
}
.carouselIndex {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  color: $secondary;
  font-size: 20px;
}
