.bannerPicture {
  width: 90%;
  height: 223px;
  object-fit: cover;
  border-radius: 25px;
  margin: 45px auto;
  display: block;

  @include tablet {
    height: 180px;
    margin: 30px auto;
  }

  @include mobile {
    height: 100px;
    margin: 15px auto;
  }
}

.aboutBanner {
  @include mobile {
    height: 250px;
  }
}
